<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <script src="../bin/flip.js"></script>
    <style>
        canvas {
            background: #ffffff;
        }
    </style>
</head>
<body ng-app="flipEditor">
<div>
<canvas ng-controller="cvsCtrl"></canvas>
    <div ng-controller="dataCtrl as dataCtrl">
        <select ng-options="itpl.name for itpl in dataCtrl.interpolations track by itpl.name"
                ng-model="dataCtrl.selectedItpl" ng-model-options="{gettersetter:true}">
        </select>
        <button ng-click="dataCtrl.changePointType()">{{dataCtrl.pointType}} point </button>
        <button ng-click="dataCtrl.interpolate()">interpolate</button>
        <p>require <b>{{dataCtrl.selectedItpl.dp}}</b> data points and <b>{{dataCtrl.selectedItpl.cp}}</b> control points</p>
    </div>
    <div ng-controller="actionCtrl as actCtrl">
        <button ng-repeat="action in actCtrl.actions" ng-click="action.handler()">{{action.name}}</button>
    </div>
</div>
<script src="../bower_components/angular/angular.js"></script>
<script>
    angular.module('flipEditor', []);
</script>
<script src="../bin/editor-ng.js"></script>
</body>
</html>